### Q1
List the basic data types in python and give one example each.

In [3]:
Integer
Float
String
Boolean

NameError: name 'Integer' is not defined

In [1]:
Agubama = 2
weight = 70.5
ok = True
name = "Akarsortybilla"

In [2]:
type(Agubama)

int

In [17]:
type(weight)

float

In [18]:
type(ok)

bool

In [19]:
type(name)

str

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [20]:
 x = 4539.85

In [23]:
y = str(x)

In [26]:
z = int(x)

In [28]:
type(y)

str

In [29]:
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [ ]:
a. float
b. integer
c. string
d. float
e. Integer
f. float
g. boolean
i. string
j. float
k. integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [30]:
statement_1 = "Thomas Partey is arguably the best player in the Black Stars"

In [31]:
statement_2 = "He is a great addition to the team"

In [32]:
len(statement_1)

60

In [33]:
len(statement_2)

34

In [4]:
statement_1 > statement_2

NameError: name 'statement_1' is not defined

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
boolean

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [1]:
78 > 46 < 30

False

In [5]:
8%2

0

In [8]:
word="boostrap"

In [9]:
len(word)

8

In [10]:
word="sample"

In [11]:
len(word)

6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [8]:
word='Hello, How are you?'
word.split(" ")

['Hello,', 'How', 'are', 'you?']

In [9]:
word_new =['Hello,', 'How', 'are', 'you?']

In [10]:
word_new[1]

'How'

In [11]:
word[7:]

'How are you?'

In [12]:
word[-1]

'?'

In [13]:
print(word)

Hello, How are you?

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [14]:
s = ("I am very excited")

In [15]:
s.upper()

'I AM VERY EXCITED'

In [16]:
s.lower()

'i am very excited'

In [18]:
s.title()

'I Am Very Excited'

In [19]:
s = "I am very excited"
s.split(" ")

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [22]:
word = 'OneThirtyEight'
word[:3]

'One'

In [23]:
word[3:9]

'Thirty'

In [24]:
word[9:14]

'Eight'

In [25]:
word[3:14]

'ThirtyEight'

In [26]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [28]:
name = "Ault'Kelly"

In [30]:
type(name)

str