### Q1

Name the four built-in data structures in python. Give one examples for each

#1.
lists.

In [ ]:
#2
sets

In [ ]:
#3.
tuples

In [ ]:
#4
dictionaries

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
#1 list are created using [],whilst tupple are created using ()
#2Lists can be changed.Tuples are ordered and unchangeble.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [3]:
animal_list=["dog","cow","sheep","goat","hen"]

In [8]:
print(animal_list[:-3])

['dog', 'cow']

In [10]:
print(animal_list[3:])

['goat', 'hen']

In [15]:
new_animal_list= ["camel","horse","pig"]

In [17]:
animal_list.extend(["camel","horse","pig"])

In [19]:
print(animal_list)

['dog', 'cow', 'sheep', 'goat', 'hen', 'camel', 'horse', 'pig']

In [22]:
del animal_list[:1]

In [23]:
print(animal_list)

['sheep', 'goat', 'hen', 'camel', 'horse', 'pig']

In [24]:
len(animal_list)

6

In [26]:
animal_set=set(animal_list)

In [27]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [29]:
suitcase=["sunglasses","hat","passport","laptop","suit","shoes"]

In [31]:
first=(suitcase[0:2])

In [32]:
print(first)

['sunglasses', 'hat']

In [35]:
middle=(suitcase[2:4])

In [36]:
print(middle)

['passport', 'laptop']

In [39]:
last=(suitcase[4:])

In [40]:
print(last)

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [43]:
values=[20,25,30,40,45,50,55,60,65,70]

In [44]:
new_value=[35]

In [46]:
values.extend([35])

In [47]:
print(values)

[20, 25, 30, 40, 45, 50, 55, 60, 65, 70, 35]

In [51]:
values.insert(3,35)

In [52]:
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 35]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

when the data is imuttable

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [57]:
Ghana_regions={"upper east":"bolgatanga"
               ,"upper west":"wa",
               "north east":"nalerigu"
               ,"northern":"tamale"
               ,"bono":"suyani"}

In [62]:
print(Ghana_regions.keys())

dict_keys(['upper east', 'upper west', 'north east', 'northern', 'bono'])

In [63]:
print(Ghana_regions.values())

dict_values(['bolgatanga', 'wa', 'nalerigu', 'tamale', 'suyani'])

### Q8

`values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [64]:
values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

In [65]:
total_num=sum(values)

In [66]:
print(total_num)

62

In [68]:
values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

highest_occurrence = max(values, key=values.count)

print(highest_occurrence)

3

In [69]:
value_set=set(values)

In [70]:
print(value_set)

{1, 2, 3, 4, 5, 6}

In [71]:
len(value_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [72]:
# create an empty dictionary
square_dict = {}

# loop through the numbers between 1 and 15 (both included)
for num in range(1, 16):
    # add the key-value pair to the dictionary
    square_dict[num] = num ** 2

# print the dictionary
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [73]:
# create the dictionary
my_dict = {'x': list(range(11, 21)), 'y': list(range(21, 31)), 'z': list(range(31, 41))}

# access the fifth value of each key
x_fifth = my_dict['x'][4]
y_fifth = my_dict['y'][4]
z_fifth = my_dict['z'][4]

# print the fifth value of each key
print(f"The fifth value of x is {x_fifth}")
print(f"The fifth value of y is {y_fifth}")
print(f"The fifth value of z is {z_fifth}")

The fifth value of x is 15
The fifth value of y is 25
The fifth value of z is 35